In [1]:
------------------------------------------------------
--STEP 2: WRANGLE DATA AND COMBINE INTO A SINGLE FILE
------------------------------------------------------

-- Compared column names each of the files while the names don't have to be in the same order,
-- they DO need to match perfectly before we can use a command to join them into one file

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = '202201-divvy-tripdata'
  AND TABLE_SCHEMA = 'dbo';

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = '202205-divvy-tripdata'
  AND TABLE_SCHEMA = 'dbo';

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = '202208-divvy-tripdata'
  AND TABLE_SCHEMA = 'dbo';

COLUMN_NAME
ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

COLUMN_NAME
ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

COLUMN_NAME
ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

In [8]:
DROP TABLE all_trips;

In [7]:
SELECT *
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_NAME = '202204-divvy-tripdata'

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
Projects,dbo,202204-divvy-tripdata,BASE TABLE

In [9]:
SELECT *
INTO all_trips
FROM dbo.[202201-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202202-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202203-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202204-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202205-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202206-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202207-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202204-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202205-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202206-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202207-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202208-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202209-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202210-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202211-divvy-tripdata]
UNION ALL
SELECT *
FROM dbo.[202212-divvy-tripdata]

In [11]:
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'all_trips'
  AND TABLE_SCHEMA = 'dbo';

COLUMN_NAME
ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

In [12]:
SELECT DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'all_trips'
AND COLUMN_NAME IN ('ride_id', 'rideable_type')

DATA_TYPE
nvarchar
nvarchar

In [13]:
ALTER TABLE all_trips
DROP COLUMN start_lat;

ALTER TABLE all_trips
DROP COLUMN start_lng;

ALTER TABLE all_trips
DROP COLUMN end_lat;

ALTER TABLE all_trips
DROP COLUMN end_lng;

In [14]:
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'all_trips'
  AND TABLE_SCHEMA = 'dbo';

COLUMN_NAME
ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
member_casual

In [15]:
EXEC sp_rename 'all_trips.ride_id', 'trip_id', 'COLUMN';
EXEC sp_rename 'all_trips.rideable_type', 'bikeid', 'COLUMN';
EXEC sp_rename 'all_trips.started_at', 'start_time', 'COLUMN';
EXEC sp_rename 'all_trips.ended_at', 'end_time', 'COLUMN';
EXEC sp_rename 'all_trips.start_station_name', 'from_station_name', 'COLUMN';
EXEC sp_rename 'all_trips.start_station_id', 'from_station_id', 'COLUMN';
EXEC sp_rename 'all_trips.end_station_name', 'to_station_name', 'COLUMN';
EXEC sp_rename 'all_trips.end_station_id', 'to_station_id', 'COLUMN';
EXEC sp_rename 'all_trips.member_casual', 'usertype', 'COLUMN';

In [16]:
SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'all_trips'
  AND TABLE_SCHEMA = 'dbo';

COLUMN_NAME
trip_id
bikeid
start_time
end_time
from_station_name
from_station_id
to_station_name
to_station_id
usertype

In [17]:
SELECT COUNT(*) FROM dbo.all_trips;

SELECT TOP 6 * FROM dbo.all_trips;

SELECT COLUMN_NAME, DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'all_trips';

(No column name)
8266516

trip_id,bikeid,start_time,end_time,from_station_name,from_station_id,to_station_name,to_station_id,usertype
D96B19A36D870FB8,electric_bike,2022-03-04 16:05:26.0000000,2022-03-04 18:12:29.0000000,NULL,NULL,NULL,NULL,casual
0C22011A0255D3CF,electric_bike,2022-03-03 19:51:44.0000000,2022-03-03 20:03:52.0000000,NULL,NULL,NULL,NULL,casual
87A72ACDA5587F8F,electric_bike,2022-03-03 19:48:51.0000000,2022-03-03 19:49:04.0000000,NULL,NULL,NULL,NULL,casual
40B1F40195023084,electric_bike,2022-03-03 18:13:44.0000000,2022-03-03 20:53:24.0000000,NULL,NULL,NULL,NULL,casual
A0EAF4A0A1C71406,electric_bike,2022-03-03 18:04:36.0000000,2022-03-03 18:10:38.0000000,NULL,NULL,NULL,NULL,casual
9F772A82C9F25ED8,electric_bike,2022-03-03 19:39:22.0000000,2022-03-03 20:09:01.0000000,NULL,NULL,NULL,NULL,casual

COLUMN_NAME,DATA_TYPE
trip_id,nvarchar
bikeid,nvarchar
start_time,datetime2
end_time,datetime2
from_station_name,nvarchar
from_station_id,nvarchar
to_station_name,nvarchar
to_station_id,nvarchar
usertype,nvarchar

In [23]:
SELECT TOP 20 usertype FROM all_trips ORDER BY trip_id DESC;

SELECT DISTINCT usertype FROM all_trips;

SELECT usertype, COUNT(*) as count FROM all_trips GROUP BY usertype;

usertype
member
member
casual
casual
casual
member
member
casual
casual
casual
member
member
member
member
member
casual
member
member
casual
casual

usertype
casual
member

usertype,count
casual,3503970
member,4762546

In [26]:
ALTER TABLE all_trips
ADD date date,
    month varchar(2),
    day varchar(2),
    year varchar(4),
    day_of_week varchar(9);

In [1]:
UPDATE all_trips
SET date = CONVERT(date, start_time),
    month = FORMAT(start_time, 'MM'),
    day = FORMAT(start_time, 'dd'),
    year = FORMAT(start_time, 'yyyy'),
    day_of_week = FORMAT(start_time, 'dddd');

In [7]:
ALTER TABLE all_trips ADD ride_length INT;

In [8]:
UPDATE all_trips SET ride_length = DATEDIFF(second, start_time, end_time);

In [10]:
SELECT TOP 10 ride_length, COUNT(*) AS count
FROM all_trips
GROUP BY ride_length;

ride_length,count
1369,1978
409,8088
884,4048
186,6672
1597,1314
153,5095
374,8402
731,5166
816,4516
459,7847

In [11]:
SELECT *
INTO all_trips_cleaned
FROM all_trips
WHERE from_station_name <> 'HQ QR' AND ride_length >= 0;

In [12]:
DELETE FROM all_trips_cleaned WHERE from_station_name IS NULL OR to_station_name IS NULL OR start_time IS NULL OR end_time IS NULL;

In [14]:
-- Calculate ride length statistics in minutes
SELECT AVG(ride_length/60.0) AS avg_ride_length,
       MAX(ride_length/60.0) AS max_ride_length,
       MIN(ride_length/60.0) AS min_ride_length
FROM all_trips_cleaned;

avg_ride_length,max_ride_length,min_ride_length
17.655317,34354.066666,0.000000

In [26]:
SELECT 
    all_trips_cleaned.usertype,
    AVG(CAST(all_trips_cleaned.ride_length AS DECIMAL(18,2))) AS avg_ride_length
FROM all_trips_cleaned
WHERE all_trips_cleaned.usertype = 'Member' OR all_trips_cleaned.usertype = 'Casual'
GROUP BY all_trips_cleaned.usertype;

usertype,avg_ride_length
casual,1476.374833
member,760.603278

In [27]:
SELECT 
    all_trips_cleaned.usertype,
    MAX(CAST(all_trips_cleaned.ride_length AS DECIMAL(18,2))) AS max_ride_length
FROM all_trips_cleaned
WHERE all_trips_cleaned.usertype = 'Member' OR all_trips_cleaned.usertype = 'Casual'
GROUP BY all_trips_cleaned.usertype;

usertype,max_ride_length
casual,2061244.00
member,89594.00

In [28]:
SELECT 
    all_trips_cleaned.usertype,
    MIN(CAST(all_trips_cleaned.ride_length AS DECIMAL(18,2))) AS min_ride_length
FROM all_trips_cleaned
WHERE all_trips_cleaned.usertype = 'Member' OR all_trips_cleaned.usertype = 'Casual'
GROUP BY all_trips_cleaned.usertype;

usertype,min_ride_length
casual,0.00
member,0.00

In [1]:
ALTER TABLE all_trips_cleaned
ALTER COLUMN day_of_week varchar(50);

In [4]:
UPDATE all_trips_cleaned
SET day_of_week = CASE day_of_week 
                    WHEN 'Monday' THEN '1-Monday'
                    WHEN 'Tuesday' THEN '2-Tuesday'
                    WHEN 'Wednesday' THEN '3-Wednesday'
                    WHEN 'Thursday' THEN '4-Thursday'
                    WHEN 'Friday' THEN '5-Friday'
                    WHEN 'Saturday' THEN '6-Saturday'
                    WHEN 'Sunday' THEN '7-Sunday'
                    ELSE day_of_week
                 END;

In [20]:
SELECT 
    all_trips_cleaned.usertype,
    all_trips_cleaned.day_of_week,
    AVG(all_trips_cleaned.ride_length) AS average_duration
FROM all_trips_cleaned
GROUP BY all_trips_cleaned.usertype, all_trips_cleaned.day_of_week
ORDER BY all_trips_cleaned.day_of_week ASC;

usertype,day_of_week,average_duration
member,1-Monday,734
casual,1-Monday,1540
member,2-Tuesday,719
casual,2-Tuesday,1324
member,3-Wednesday,719
casual,3-Wednesday,1265
member,4-Thursday,736
casual,4-Thursday,1319
casual,5-Friday,1367
member,5-Friday,741
member,6-Saturday,855
casual,6-Saturday,1637
casual,7-Sunday,1668
member,7-Sunday,848

In [21]:
SELECT 
    all_trips_cleaned.usertype,
    all_trips_cleaned.day_of_week,
    COUNT(*) AS number_of_rides,
    AVG(all_trips_cleaned.ride_length) AS average_duration
FROM all_trips_cleaned
GROUP BY all_trips_cleaned.usertype, all_trips_cleaned.day_of_week
ORDER BY all_trips_cleaned.day_of_week ASC;

usertype,day_of_week,number_of_rides,average_duration
member,1-Monday,529529,734
casual,1-Monday,319927,1540
member,2-Tuesday,582121,719
casual,2-Tuesday,295318,1324
member,3-Wednesday,577443,719
casual,3-Wednesday,298545,1265
member,4-Thursday,593928,736
casual,4-Thursday,348112,1319
casual,5-Friday,371426,1367
member,5-Friday,514365,741
member,6-Saturday,495565,855
casual,6-Saturday,565442,1637
casual,7-Sunday,475260,1668
member,7-Sunday,440429,848